# This is a model file. Copy/paste the settings you want into your real ~/.gitconfig.
# Do not symlink this file with Stow.
[user]
  name = Felipe
  email = 80273544+cabra-arretado@users.noreply.github.com
# Please adapt the following lines to your environment:
[credential]
  helper = osxkeychain
[push]
  autoSetupRemote = true
[difftool]
  prompt = false
[difftool "nvimdiff"]
    cmd = "nvim -d -R \"$LOCAL\" \"$REMOTE\""
[diff]
  guitool = nvimdiff
  tool = nvimdiff
[merge]
  guitool = nvimdiff
  tool = nvimdiff
[color]
  ui = auto
  status = auto
  branch = auto
  diff = auto
  interactive = auto
  pager = true
